/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//Define theme
$primary: mat-palette($mat-deep-orange);
$accent: mat-palette($mat-indigo, A200, A100, A400);
$warm: mat-palette($mat-yellow);
$background: mat-color($mat-deep-orange);

$theme: mat-light-theme($primary, $accent, $warm);

//Include all themes styles for components.
@include angular-material-theme($theme);
